.ybc_main:after{
	content: '';
	display: block;
	clear: both;
	
}
.ybc_main{
	background: whitesmoke;
}
.ybc_main a{
	color: #1B1B1B;
	color: black;
	text-decoration: none;
}
.ybc_main a:hover{
	color:darkgray;
}
#serchinput{
	display: none;
	
}
.active{
	width: 100%;
	padding: 30px 30px 52px;
	text-align: center;
	border-bottom: 1px solid white;
}
.active img{
	width: 255px;
	height: 255px;
}
.user_bottom{
	width: 100%;
}
.user_bottom>div{
	width: 33.333%;
	height: 130px;
	margin: 46px 0px;	
	float: left;
	text-align: center;
	border-right:1px solid white;
}
.user_bottom>div>a{
	text-decoration: none;
	font-size: 20px;
}
.user_bottom>div>p{
	margin-top: 13px;
	color: #1B1B1B;
	font-style: italic;
}
.userorders{
	width: 100%;
	background: #e7e7e7;
	border-radius: 20px;
	box-shadow: 10px 10px 5px gray;
	margin: 20px 0px;
}
.userorders:after{
	content: '';
	display: block;
	clear: both;
	
}
.orderimg{
	float: left;
	width: 20%;
}
.orderimg>img{
	width: 145px;
	height: 145px;
}
.orderdesc{
	float: right;
	width: 80%;
}
.orderdesc>p,.orderdesc>h3{
	text-align: left;
	margin: 5px 0px ;
}
#orderstatus{
	float: left;
	margin-left: 10px;
}
#orderdetail{
	float: right;
	margin-right: 30px;
}
.ordertime{
	margin-top: 5px;
	font-size: 16px;
	margin-right: 30px;
	float: right;
}